
mixin SelectBox(name, options)
  select
    each option, index in options
      option.select-box__input(id=index value=option.value name=name checked)
        label.select-box__option(for=index aria-hidden) #{option.name}


mixin SelectBoxDate(number, options)
  select
    each option, index in options
      option.select-box__input(id=index value=option.value name=number checked)
        label.select-box__option(for=index aria-hidden) #{option.number}
