
mixin SelectBox(name, options)
  select
    each option, index in options
      option.select-box__input(id=index value=option.value name=name checked)
        label.select-box__option(for=index aria-hidden) #{option.name}

mixin Radio(title, label)
  label(for=label)=title
  input(type="radio" name=label value="yes")
  label.radio.smlabel(name=label for="yes") Yes
  input(type="radio" name=label value="no")
  label.radio.smlabel(name=label for="no") No
    
mixin Radios(title, label, valone, valtwo, valthr)
  label(for=label)=title
  input(type='radio' name=label value=valone)
  label.check(name=label for=valone)=valone
  input(type='radio' name=label value=valtwo)
  label.check(name=label for=valtwo)=valtwo
  input(type='radio' name=label value=valthr)
  label.check(name=label for=valthr)=valthr
    
